---
Language: Cpp
BasedOnStyle: LLVM
BreakBeforeBraces: Linux
PointerAlignment: Left
BreakConstructorInitializers: BeforeComma
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
ColumnLimit: 80
IndentCaseLabels: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^"[a-z]+\.h"$'
    Priority:        1
  - Regex:           '^<'
    Priority:        2
  - Regex:           '.*'
    Priority:        3
